DLPPolicyEnrichment-Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "DLPPolicyEnrichment-Playbook",
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App/Playbook"
      }
    },
    "PurviewAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of your Microsoft Purview account"
      }
    },
    "PurviewTenantId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD Tenant ID"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "PurviewAPIEndpoint": "https://graph.microsoft.com/v1.0/security/",
    "MicrosoftSentinelConnectionApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[variables('MicrosoftSentinelConnectionApiId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "PurviewAccountName": {
              "defaultValue": "[parameters('PurviewAccountName')]",
              "type": "String"
            },
            "PurviewTenantId": {
              "defaultValue": "[parameters('PurviewTenantId')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Filter_DLP_Incidents": {
              "runAfter": {},
              "type": "Query",
              "inputs": {
                "from": "@triggerBody()?['object']?['properties']?['relatedAnalyticRuleIds']",
                "where": "@contains(item(), 'DLP')"
              },
              "description": "Check if this is a DLP-related incident"
            },
            "Condition_Is_DLP_Incident": {
              "actions": {
                "Initialize_AlertIds": {
                  "runAfter": {},
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "AlertIds",
                        "type": "array",
                        "value": "@triggerBody()?['object']?['properties']?['additionalData']?['alertsCount']"
                      }
                    ]
                  }
                },
                "Parse_Incident_Details": {
                  "runAfter": {
                    "Initialize_AlertIds": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@triggerBody()?['object']",
                    "schema": {
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "properties": {
                            "incidentNumber": {
                              "type": "integer"
                            },
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "relatedAnalyticRuleIds": {
                              "type": "array"
                            },
                            "additionalData": {
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Get_DLP_Alert_Details": {
                  "runAfter": {
                    "Parse_Incident_Details": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/security/alerts_v2?$filter=incidentId eq '@{body('Parse_Incident_Details')?['properties']?['incidentNumber']}'",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  },
                  "description": "Get alert details from Microsoft Graph Security API"
                },
                "Parse_Alert_Response": {
                  "runAfter": {
                    "Get_DLP_Alert_Details": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Get_DLP_Alert_Details')",
                    "schema": {
                      "properties": {
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "providerAlertId": {
                                "type": "string"
                              },
                              "additionalData": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "For_Each_Alert": {
                  "foreach": "@body('Parse_Alert_Response')?['value']",
                  "actions": {
                    "Get_DLP_Policy_Details": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/security/informationProtection/dlpPolicies/@{items('For_Each_Alert')?['additionalData']?['PolicyId']}",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "description": "Get DLP Policy details including Enforcement Mode"
                    },
                    "Parse_Policy_Response": {
                      "runAfter": {
                        "Get_DLP_Policy_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_DLP_Policy_Details')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "mode": {
                              "type": "string"
                            },
                            "enforcementMode": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Add_Comment_to_Incident": {
                      "runAfter": {
                        "Parse_Policy_Response": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>DLP Policy Enrichment</strong><br>\n<br>\nPolicy Name: @{body('Parse_Policy_Response')?['name']}<br>\nPolicy ID: @{body('Parse_Policy_Response')?['id']}<br>\n<strong>Enforcement Mode: @{body('Parse_Policy_Response')?['enforcementMode']}</strong><br>\nMode: @{body('Parse_Policy_Response')?['mode']}<br>\n<br>\nEnriched by automated playbook at @{utcNow()}</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    },
                    "Add_Tag_to_Incident": {
                      "runAfter": {
                        "Add_Comment_to_Incident": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "tagsToAdd": {
                            "TagsToAdd": [
                              {
                                "Tag": "EnforcementMode:@{body('Parse_Policy_Response')?['enforcementMode']}"
                              },
                              {
                                "Tag": "DLPPolicy:@{body('Parse_Policy_Response')?['name']}"
                              },
                              {
                                "Tag": "AutoEnriched"
                              }
                            ]
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "/Incidents"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_Alert_Response": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Filter_DLP_Incidents": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter_DLP_Incidents'))",
                      0
                    ]
                  }
                ]
              },
              "type": "If",
              "description": "Only process if this is a DLP incident"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[variables('MicrosoftSentinelConnectionApiId')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    }
  }
}

